@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Jost:ital,wght@0,100..900;1,100..900&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  background: var(--light-color);
  display: none;
}
::-webkit-scrollbar-thumb {
  background: var(--light-color);
  border-radius: 50px;
}
:root {
  /* =================fonts ================*/
  --logo-font-primary: "KoHo", serif;
  --logo-font-secondary: "Belleza", serif;
  --main-primary-font: "Jost", serif;
  --secondary-main-font: "Poppins", serif;
  /* =================colors=============== */
  --main-primary-color: #55b96a;
  --light-green-color: #cfefd6;
  --secondary-main-color: #231f20;
  --light-color: #ffffff;
  --shadow-color: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --bg-gradent-color: linear-gradient(63deg, #51b867 19.28%, #fcfcfc 95.44%);
  /* =================transition ============*/
  --transition-effect: all 0.5s ease-in-out;
}
.section-heading {
  width: 100%;
  height: 60vh;
  background-color: var(--main-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section-heading h2 {
  position: relative;
  margin-top: 30px;
  z-index: 10;
  font-size: 62px;
  color: var(--light-color);
  text-shadow: 2px 2px 10px rgb(85, 85, 85);
}
.section-heading::before {
  content: "";
  position: absolute;
  background: url(../images/pages-img/2112.w039.n003.47B.p1.47.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}
.section-container {
  width: 100%;
  padding: 50px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 0px;
}
.page-btn {
  width: 350px;
  height: 40px;
  padding: 5px 38px;
  border-radius: 15px;
  background: var(--main-primary-color);
  margin-top: 20px;
  border: none;
  outline: none;
  box-shadow: var(--shadow-color);
  font-weight: 600;
  font-family: var(--main-primary-font);
  cursor: pointer;
}
.color-text {
  color: var(--main-primary-color);
}
.box-section {
  display: grid;
  gap: 30px;
}
.box {
  width: 100%;
  height: auto;
  background-color: var(--main-primary-color);
  box-shadow: var(--shadow-color);
  padding: 26px;
  border-radius: 16px;
  display: grid;
}
.boxs1 {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 150px;
  margin-bottom: 50px;
}
.section-container .section-img p {
  color: var(--main-primary-color);
  font-weight: 600;
}
.section-container .section-img h2 {
  margin-bottom: 20px;
}
/* =========== */
.sec-btn {
  display: flex;
}
.sec-btn h3 {
  cursor: pointer;
  padding: 15px;
  border-radius: 5px 5px 0px 0px;
  transition: 0.3s ease-in-out;
  background-color: #5555;
}
.sec-btn h3.active {
  background-color: var(--main-primary-color);
  color: var(--light-color);
}
.section-text-container p {
  display: none;
  padding: 26px;
  background-color: var(--main-primary-color);
  height: 400px;
  color: var(--light-color);
  border-radius: 0px 16px 16px 16px;
}
#vission-content {
  display: block;
}
.client-section .boxs1 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.client-section .box {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  background-color: var(--light-color);
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 16px rgb(123, 123, 123);
}
.client-section .box img {
  width: 150px;
}
.reviwe {
  width: 100%;
  height: 250px;
  background-color: var(--light-green-color);
}
.contact-section {
  padding: 20px 150px;
}

.contact-box {
  padding: 40px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.c-box {
  padding: 26px;
  border-radius: 16px;
  border: 2px solid var(--main-primary-color);
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.c-box:hover {
  box-shadow: 0px 0px 10px var(--main-primary-color);
}
.c-box .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-box .img i {
  color: var(--main-primary-color);
  font-size: 56px;
}
.c-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}
.form-container {
  padding: 20px 150px;
  background-color: var(--light-green-color);
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  background-color: var(--light-color);
  border-radius: 8px;
  border: 2px solid var(--light-color);
  padding: 24px 40px;
  margin: 50px 0px;
}
.form-data {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  padding-left: 100px;
}
.form-text a {
  padding: 10px 15px;
  text-decoration: none;
  background-color: var(--main-primary-color);
  color: var(--light-color);
  border-radius: 8px;
}
form input {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--light-color);
  margin: 10px 0px;
  border: none;
  border-bottom: 2px solid var(--main-primary-color);
  outline: none;
}
textarea {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--light-color);
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--main-primary-color);
}
input.btn {
  background-color: var(--main-primary-color);
  width: fit-content;
  border: none;
  outline: none;
  color: var(--light-color);
  border-radius: 8px;
}
.google-map {
  margin-bottom: 50px;
}
h4 {
  font-family: var(--main-primary-font);
}
.client-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.client-section h2 {
  text-align: center;
}
.client-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.client-box .imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-primary-color);
  transition: var(--transition-effect);
  border: 2px solid var(--main-primary-color);
}
.client-box .imgs:hover {
  border: 2px solid var(--light-green-color);
  background-color: var(--light-color);
  transition: var(--transition-effect);
}
.client-box .imgs:nth-child(2n) {
  background-color: var(--light-color);
  border: 2px solid var(--main-primary-color);
}
.client-box .imgs:nth-child(2n):hover {
  background-color: var(--light-green-color);
  border: 2px solid var(--light-color);
  transition: var(--transition-effect);
}
.client-box .imgs img {
  width: 150px;
}
.fect-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.fet-box {
  display: flex;
  gap: 20px;
  flex-direction: column;
  border: 2px solid var(--main-primary-color);
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  padding: 24px;
}
.fet-box .img i {
  font-size: 62px;
  color: var(--main-primary-color);
}
.fet-text {
  padding: 0px 20px;
  text-align: center;
}
.seo-form {
  background-color: var(--light-color);
}
