@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Jost:ital,wght@0,100..900;1,100..900&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* =================fonts ================*/
  --logo-font-primary: "KoHo", serif;
  --logo-font-secondary: "Belleza", serif;
  --main-primary-font: "Jost", serif;
  --secondary-main-font: "Poppins", serif;
  /* =================colors=============== */
  --main-primary-color: #55b96a;
  --light-green-color: #cfefd6;
  --secondary-main-color: #231f20;
  --light-color: #ffffff;
  --shadow-color: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --bg-gradent-color: linear-gradient(63deg, #51b867 19.28%, #fcfcfc 95.44%);
  /* =================transition ============*/
  --transition-effect: all 0.5s ease-in-out;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
section {
  background-color: var(--light-color);
  position: relative;
  z-index: 3;
  width: 100%;
}
h1 {
  font-family: var(--main-primary-font);
}
h2 {
  color: var(--secondary-main-color);
  font-family: var(--main-primary-font);
  font-size: 42px;
}
h3 {
  font-family: var(--secondary-main-font);
}
p {
  color: var(--secondary-main-color);
  font-family: var(--main-primary-font);
}
/* ==================Header============================= */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
  background-color: var(--light-color);
  box-shadow: var(--shadow-color);
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo img {
  width: 150px;
}

nav {
  display: flex;
  align-items: center;
  position: relative;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  list-style: none;
  position: relative;
}

nav ul li a {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--main-primary-font);
  color: var(--main-primary-color);
  padding: 10px;
  display: inline-block;
  font-weight: 600;
}

/*========================== Sub-menu ========================*/
.sub-service {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--light-color);
  box-shadow: var(--shadow-color);
  display: none;
  z-index: 101;
  border-radius: 0px 20px 20px 20px;
  padding: 20px 0px;
}

.sub-service ul {
  width: 200px;
  flex-direction: column;
  gap: 10px;
  transition: var(--transition-effect);
}
.sub-service ul li:hover {
  background-color: var(--main-primary-color);
  transition: var(--transition-effect);
}
.sub-service ul li:hover a {
  color: var(--light-color);
  transition: var(--transition-effect);
}
.show-services {
  display: block;
}

/* ==============================Nested sub-menu ======================*/
.lead,
.seo {
  position: relative;
}

.sub-service-page,
.sub-service-page2 {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  background-color: var(--main-primary-color);
  padding: 10px;
  box-shadow: var(--shadow-color);
}
.sub-service-page ul li a,
.sub-service-page2 ul li a {
  color: var(--secondary-main-color);
}
.lead:hover .sub-service-page,
.seo:hover .sub-service-page2 {
  display: block;
}
.menu-bar {
  display: grid;
  gap: 3px;
  position: relative;
  display: none;
}
.bar {
  background-color: var(--secondary-main-color);
  width: 25px;
  height: 3px;
  border-radius: 5px;
}
nav ul.resmenu {
  display: none;
  position: fixed;
  top: -40%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  background-color: var(--light-color);
  box-shadow: var(--shadow-color);
  z-index: 99;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: top 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.sub-service-page,
.sub-service-page2 {
  width: 200px;
  overflow: hidden;
}
.resmenu .services {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resmenu .services ul {
  width: 100%;
  display: none;
}
/* ===================================Number Count ====================== */
.counters {
  position: relative;
  z-index: 5;
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 100px;
  gap: 40px;
}
.counter {
  width: 250px;
  height: 100px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 3px solid var(--main-primary-color);
  gap: 5px;
}
.counter:nth-child(4) {
  border: none;
}
.counter h3 {
  font-size: 14px;
}
/* ===================================HERO Section ============================= */
.hero,
.section2-content,
.section5-content {
  padding: 50px 0px 0px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background: var(--bg-gradent-color);
  position: relative;
  width: 100%;
}
.hero-text {
  position: relative;
  z-index: 2;
}
.hero-text .auto-type {
  color: var(--light-color);
}
.hero-text h2 {
  line-height: 50px;
  margin-bottom: 20px;
}
.hero-img img {
  width: 650px;
  height: 650px;
}
span.out-text {
  color: transparent;
  font-family: var(--secondary-main-font);
  -webkit-text-stroke: 1px var(--secondary-main-color);
}
.hero .btn {
  width: 150px;
  height: 40px;
  padding: 5px 38px;
  border-radius: 15px;
  background: var(--light-color);
  margin-top: 20px;
  border: none;
  outline: none;
  box-shadow: var(--shadow-color);
  font-weight: 600;
  font-family: var(--main-primary-font);
  cursor: pointer;
}
.vector {
  position: absolute;
  left: 0;
  bottom: -110px;
  z-index: 1;
}
.vector img {
  width: 100vw;
}
/*===================== section1======================= */
.section1 {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: var(--light-color);
  padding: 20px 0;
}
.slide-text {
  display: inline-block;
  font-size: 4vw;
  font-family: var(--main-primary-font);
  color: var(--main-primary-color);
  opacity: 0.3;
  white-space: nowrap;
  animation: slidetext 30s linear infinite;
  overflow: hidden;
}

@keyframes slidetext {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.slide-text2 {
  animation: slidetext2 30s linear infinite;
}
@keyframes slidetext2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* card */
.section-content {
  padding: 0px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}
.section-cards {
  display: grid;
  grid-template-areas: "c1 c2" "c3 c2";
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}
.card1 {
  grid-area: c1;
}
.card2 {
  grid-area: c2;
  display: grid;
  place-items: center;
}
.card3 {
  grid-area: c3;
}
.card {
  width: 250px;
  padding: 24px;
  border-radius: 16px;
  border: 2px solid var(--main-primary-color);
  display: grid;
  gap: 20px;
}
.section-text {
  display: grid;
  gap: 10px;
}
.section-text .inner-color {
  color: var(--main-primary-color);
}
.green-btn {
  background-color: var(--main-primary-color);
  width: 250px;
  height: 40px;
  padding: 5px 38px;
  border-radius: 15px;
  margin-top: 20px;
  border: none;
  outline: none;
  box-shadow: var(--shadow-color);
  font-weight: 600;
  font-family: var(--main-primary-font);
  cursor: pointer;
}
/* ================================section 2==================== */
.section2-content {
  background: var(--light-color);
}
.section2-text h2 {
  margin: 0;
  color: var(--main-primary-color);
}
.section2-text h3 {
  margin-bottom: 20px;
  font-size: 26px;
}
/* ================================section 3==================== */
.section3,
.section6-title {
  padding: 20px 150px;
  margin-bottom: 20px;
}
/* =================================bar-line================== */
.bar-line {
  width: 100%;
  padding: 20px 0px;
  /* background-color: var(--main-primary-color); */
  display: grid;
  place-items: center;
  padding: 10px 0px;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 140px;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
.wrapper2 {
  height: 90px;
}
@keyframes scrollLeft {
  to {
    left: -200px;
  }
}
@keyframes scrollLeft2 {
  to {
    right: -200px;
  }
}
.item {
  width: 200px;
  height: 100px;
  background-color: var(--light-color);
  border-radius: 7px;
  position: absolute;
  left: calc(200px * 8);
  animation: scrollLeft 30s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px rgb(164, 164, 164);
}
.item img {
  width: 150px;
}
.text-slide {
  width: 200px;
  height: 50px;
  background-color: var(--light-color);
  border-radius: 7px;
  position: absolute;
  right: calc(200px * 8);
  animation: scrollLeft2 30s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-primary-font);
  box-shadow: 2px 2px 10px rgb(164, 164, 164);
}

.item1,
.text-slide1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}
.item2,
.text-slide2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}
.item3,
.text-slide3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}
.item4,
.text-slide4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}
.item5,
.text-slide5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}
.item6,
.text-slide6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}
.item7,
.text-slide7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}
.item8,
.text-slide8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}
/* ================================CTA || section4 ========================== */
.section4 {
  width: 100%;
  padding: 20px 150px;
}
.cta {
  background-color: var(--main-primary-color);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta-btn .btn {
  width: 180px;
  height: 40px;
  padding: 5px 38px;
  border-radius: 15px;
  background: var(--light-color);
  margin-top: 20px;
  border: none;
  outline: none;
  box-shadow: var(--shadow-color);
  font-weight: 600;
  font-family: var(--main-primary-font);
  cursor: pointer;
}
/* =========================== section5 ====================== */
.section5-content {
  background: var(--light-color);
}
.section5-content span {
  color: var(--main-primary-color);
}
.section5-content img {
  width: 500px;
  height: 400px;
}
/* =========================== section5 ====================== */

.section6-title h2 {
  color: var(--main-primary-color);
}
/* =======================slider-card ============================*/

.slider-container {
  width: 80%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  padding: 30px 0px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: flex;
  gap: 20px;
  min-width: 100%;
  justify-content: center;
}

.blog-card {
  width: 45%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.blog-card img {
  width: 70%;
  border-radius: 10px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-primary-color);
  color: var(--light-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 5px;
  background-color: var(--light-green-color);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: var(--main-primary-color);
}
/*======================= slide card2========================= */
.slide2-section {
  padding: 20px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-container2 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background: var(--light-color);
  padding: 10px;
}
.slides2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.multi-slide {
  display: flex;
  gap: 20px;
  min-width: 30%;
  justify-content: center;
}
.slide2-card {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
.slide2-card img {
  width: 200px;
}

/* ================================Q&A============================= */
.section7 {
  padding: 20px 150px;
}
.faq-container {
  width: 100%;
  margin: auto;
  background: var(--light-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.faq-container h2 {
  text-align: center;
  margin: 30px 0px;
}
.faq-item {
  margin-bottom: 10px;
}
.faq-question {
  padding: 24px;
  background: var(--main-primary-color);
  color: var(--light-color);
  cursor: pointer;
  font-weight: bold;
  border-radius: 16px;
  font-family: var(--main-primary-font);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq-question > h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.qustion-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--light-color);
  display: grid;
  place-items: center;
}
.qustion-icon i {
  color: var(--main-primary-color);
}
.faq-answer {
  display: none;
  padding: 10px;
  background: var(--light-color);
  border-radius: 5px;
  font-family: var(--secondary-main-font);
}
/* =========================footer============================== */
footer {
  background: var(--light-green-color);
  width: 100%;
}
.footer-container {
  padding: 20px 150px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.logo-container {
  padding: 40px;
  display: grid;
  gap: 30px;
}
.logo-container .logo img {
  width: 250px;
}
.address-container {
  padding: 40px;
  display: grid;
  gap: 30px;
  font-family: var(--main-primary-font);
}
.address-container a {
  text-decoration: none;
  color: var(--secondary-main-color);
}
.navigation-container {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.navigation-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.navigation-container ul li {
  list-style: none;
  text-align: start;
}
.navigation-container ul li a {
  text-decoration: none;
  color: var(--secondary-main-color);
  font-family: var(--main-primary-font);
}
.message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.message-container label {
  font-family: var(--main-primary-font);
  font-size: 20px;
}
.message-container input {
  width: 300px;
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
}
.message-container .submit-btn {
  width: 100px;
  height: 40px;
  padding: 5px 38px;
  border-radius: 15px;
  background: var(--main-primary-color);
  margin-top: 20px;
  border: none;
  outline: none;
  box-shadow: var(--shadow-color);
  font-weight: 600;
  font-family: var(--main-primary-font);
  cursor: pointer;
}
.copy-rights {
  width: 100%;
  text-align: center;
  padding: 40px 0px;
  border-top: 2px solid var(--main-primary-color);
}
.copy-rights p > a {
  color: var(--main-primary-color);
  text-decoration: none;
}

/*===================== Extra Small Devices ======================= */
@media screen and (max-width: 575px) {
  header {
    padding: 10px 0px;
    position: relative;
  }
  .logo img {
    width: 60px;
  }
  nav ul {
    display: none;
  }
  .menu-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: var(--transition-effect);
  }
  .show-menu .bar {
    position: absolute;
  }
  .show-menu .bar1 {
    transition: var(--transition-effect);
    transform: rotate(45deg) translate(-15px, 12px);
  }
  .show-menu .bar3 {
    transition: var(--transition-effect);
    transform: rotate(-45deg) translate(-12px, -15px);
  }
  .show-menu .bar2 {
    transition: var(--transition-effect);
    display: none;
  }
  nav ul.resmenu {
    display: flex;
    top: -15%;
    transition: top 0.5s ease-in-out;
  }
  .resmenu .services {
    display: flex;
  }

  .resmenu .services ul {
    display: block;
  }
  .resmenu .sub-service {
    flex-direction: column;
    gap: 10px;
    top: 100%;
    left: -150%;
    background-color: var(--light-color);
    box-shadow: var(--shadow-color);
    width: 200px;
    padding: 10px;
    transition: top 0.3s ease-in-out;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 20px;
    background: linear-gradient(-180deg, #51b867 19.28%, #fcfcfc 95.44%);
  }
  .hero-img img {
    width: 300px;
    height: 250px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 12px;
  }
  .hero-text {
    margin-top: 100px;
  }
  .hero-text h2 {
    line-height: 35px;
  }
  .counters {
    flex-direction: column;
  }
  .counter {
    border-right: none;
    border-bottom: 3px solid var(--main-primary-color);
  }
  .section-content {
    grid-template-columns: 1fr;
    padding: 20px;
    place-items: center;
  }
  .section-cards {
    grid-template-areas: "c1" "c2" "c3";
  }
  section {
    overflow: hidden;
  }
  .slide-text {
    font-size: 8vw;
    animation: slidetext 15s linear infinite;
  }
  @keyframes slidetext {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .slide-text2 {
    animation: slidetext2 30s linear infinite;
  }
  @keyframes slidetext2 {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .section2-content {
    padding: 20px;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .slide2-section {
    padding: 20px;
  }
  .slide2-card {
    padding: 15px;
  }
  .slide2-card img {
    width: 80px;
  }
  .section3 {
    padding: 20px;
  }
  .bar-line {
    padding: 20px;
  }
  .footer-container {
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .section4 {
    padding: 20px;
  }
  .cta {
    flex-direction: column;
  }
  .section5-content {
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .section6-title {
    padding: 20px;
  }
  .prev {
    left: 40%;
  }
  .next {
    right: 40%;
  }
  .prev,
  .next {
    top: 90%;
  }
  .section7 {
    padding: 20px;
  }
  .faq-question h4 {
    align-items: start;
  }
  .qustion-icon {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
  }
  .qustion-icon i {
    font-size: 14px;
  }
}

/* ============================Small Devices =============================== */
@media (min-width: 576px) and (max-width: 767px) {
  header {
    padding: 10px 0px;
    position: relative;
  }
  nav ul {
    display: none;
  }
  .logo img {
    width: 100px;
  }
  .menu-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: var(--transition-effect);
  }
  .show-menu .bar {
    position: absolute;
  }
  .show-menu .bar1 {
    transition: var(--transition-effect);
    transform: rotate(45deg) translate(-15px, 12px);
  }
  .show-menu .bar3 {
    transition: var(--transition-effect);
    transform: rotate(-45deg) translate(-12px, -15px);
  }
  .show-menu .bar2 {
    transition: var(--transition-effect);
    display: none;
  }
  nav ul.resmenu {
    display: flex;
    top: -20%;
    transition: top 0.5s ease-in-out;
  }
  .resmenu .services {
    display: flex;
  }

  .resmenu .services ul {
    display: block;
  }
  .resmenu .sub-service {
    flex-direction: column;
    gap: 10px;
    top: 100%;
    left: -150%;
    background-color: var(--light-color);
    box-shadow: var(--shadow-color);
    width: 200px;
    padding: 10px;
    transition: top 0.3s ease-in-out;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 20px;
    background: linear-gradient(-180deg, #51b867 19.28%, #fcfcfc 95.44%);
  }
  .hero-img img {
    width: 500px;
    height: 450px;
  }
  h2 {
    font-size: 38px;
  }
  p {
    font-size: 16px;
  }
  .hero-text {
    margin-top: 100px;
    text-align: center;
  }
  .hero-text h2 {
    line-height: 35px;
  }
  .counter h1,
  .counter h1 span {
    font-size: 18px;
  }
  .counter h3 {
    font-size: 12px;
  }
  .section-content {
    grid-template-columns: 1fr;
    padding: 20px;
    place-items: center;
  }

  section {
    overflow: hidden;
  }
  .slide-text {
    font-size: 8vw;
    animation: slidetext 15s linear infinite;
  }
  @keyframes slidetext {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .slide-text2 {
    animation: slidetext2 30s linear infinite;
  }
  @keyframes slidetext2 {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .section2-content {
    padding: 20px;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .slide2-section {
    padding: 20px;
  }
  .slide2-card {
    padding: 15px;
  }
  .slide2-card img {
    width: 80px;
  }
  .section3 {
    padding: 20px;
  }
  .bar-line {
    padding: 20px;
  }
  .footer-container {
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .section4 {
    padding: 20px;
  }
  .cta {
    flex-direction: column;
  }
  .section5-content {
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .section6-title {
    padding: 20px;
  }
  .prev {
    left: 40%;
  }
  .next {
    right: 40%;
  }
  .prev,
  .next {
    top: 90%;
  }
  .section7 {
    padding: 20px;
  }
  .faq-question h4 {
    align-items: start;
  }
  .qustion-icon {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
  }
  .qustion-icon i {
    font-size: 14px;
  }
}

/*========================================Medium Devices====================================== */
@media (min-width: 768px) and (max-width: 991px) {
  header {
    padding: 20px 20px;
  }
  nav ul {
    display: none;
  }
  .menu-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: var(--transition-effect);
  }
  .show-menu .bar {
    position: absolute;
  }
  .show-menu .bar1 {
    transition: var(--transition-effect);
    transform: rotate(45deg) translate(-15px, 12px);
  }
  .show-menu .bar3 {
    transition: var(--transition-effect);
    transform: rotate(-45deg) translate(-12px, -15px);
  }
  .show-menu .bar2 {
    transition: var(--transition-effect);
    display: none;
  }
  nav ul.resmenu {
    display: flex;
    top: -15%;
    transition: top 0.5s ease-in-out;
  }
  .resmenu .services {
    display: flex;
  }

  .resmenu .services ul {
    display: block;
  }
  .resmenu .sub-service {
    flex-direction: column;
    gap: 10px;
    top: 100%;
    left: -150%;
    background-color: var(--light-color);
    box-shadow: var(--shadow-color);
    width: 200px;
    padding: 10px;
    transition: top 0.3s ease-in-out;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 20px;
    background: linear-gradient(-180deg, #51b867 19.28%, #fcfcfc 95.44%);
  }
  .hero-img img {
    width: 500px;
    height: 450px;
  }
  h2 {
    font-size: 38px;
  }
  p {
    font-size: 16px;
  }
  .hero-text {
    margin-top: 200px;
    text-align: center;
  }
  .hero-text h2 {
    line-height: 35px;
  }
  .counter h1,
  .counter h1 span {
    font-size: 18px;
  }
  .counter h3 {
    font-size: 12px;
  }
  .section-content {
    padding: 20px;
    place-items: center;
  }

  section {
    overflow: hidden;
  }
  .slide-text {
    font-size: 8vw;
    animation: slidetext 15s linear infinite;
  }
  @keyframes slidetext {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .slide-text2 {
    animation: slidetext2 30s linear infinite;
  }
  @keyframes slidetext2 {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .section2-content {
    padding: 20px;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .slide2-section {
    padding: 20px;
  }
  .slide2-card {
    padding: 15px;
  }

  .section3 {
    padding: 20px;
  }
  .bar-line {
    padding: 20px;
  }
  .footer-container {
    padding: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .section4 {
    padding: 20px;
  }
  .cta {
    flex-direction: column;
  }
  .section5-content {
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .section6-title {
    padding: 20px;
  }
  .prev {
    left: 40%;
  }
  .next {
    right: 40%;
  }
  .prev,
  .next {
    top: 90%;
  }
  .section7 {
    padding: 20px;
  }
  .faq-question h4 {
    align-items: start;
  }
  .qustion-icon {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
  }
  .qustion-icon i {
    font-size: 14px;
  }
}

/* ===================================Large Devices=============================== */

@media (min-width: 992px) and (max-width: 1199px) {
  header {
    padding: 20px 60px;
  }
  .hero {
    margin-top: 100px;

    padding: 20px 0px 0px 100px;
    background: linear-gradient(-180deg, #51b867 19.28%, #fcfcfc 95.44%);
    gap: 20px;
  }
  .hero-img img {
    width: 500px;
    height: 450px;
  }

  .hero-text h2 {
    line-height: 35px;
  }
  .counter h1,
  .counter h1 span {
    font-size: 18px;
  }
  .counter h3 {
    font-size: 12px;
  }
  .section-content {
    padding: 20px 50px;
    place-items: center;
    gap: 20px;
  }

  section {
    overflow: hidden;
  }
  .section2-content {
    padding: 20px 50px;
    place-items: center;
  }
  .slide2-section {
    padding: 20px 50px;
  }

  .bar-line {
    padding: 20px 50px;
  }
  .footer-container {
    padding: 20px 50px;
  }
  .section4 {
    padding: 20px;
  }
  .cta {
    flex-direction: column;
  }
  .section5-content {
    padding: 20px 50px;
  }
  .section6-title {
    padding: 20px;
  }
  .prev {
    left: 40%;
  }
  .next {
    right: 40%;
  }
  .prev,
  .next {
    top: 90%;
  }
  .section7 {
    padding: 20px;
  }
  .faq-question h4 {
    align-items: start;
  }
  .qustion-icon {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
  }
  .qustion-icon i {
    font-size: 14px;
  }
}

/*=================================== Extra Large Devices ===============================*/
@media screen and (min-width: 1201px) {
}
