@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Jost:ital,wght@0,100..900;1,100..900&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* =================fonts ================*/
  --logo-font-primary: "KoHo", serif;
  --logo-font-secondary: "Belleza", serif;
  --main-primary-font: "Jost", serif;
  --secondary-main-font: "Poppins", serif;
  /* =================colors=============== */
  --main-primary-color: #55b96a;
  --secondary-main-color: #231f20;
  --light-color: #ffffff;
  --shadow-color: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --bg-gradent-color: linear-gradient(63deg, #51b867 19.28%, #fcfcfc 95.44%);
  /* =================transition ============*/
  --transition-effect: all 0.5s ease-in-out;
}

body {
  scroll-behavior: smooth;
}

h2 {
  color: var(--secondary-main-color);
  font-family: var(--main-primary-font);
  font-size: 42px;
}
p {
  color: var(--secondary-main-color);
  font-family: var(--main-primary-font);
}
/* ==================Header============================= */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
  background-color: var(--light-color);
  box-shadow: var(--shadow-color);
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo img {
  width: 150px;
}

nav {
  display: flex;
  align-items: center;
  position: relative;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  list-style: none;
  position: relative;
}

nav ul li a {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--main-primary-font);
  color: var(--main-primary-color);
  padding: 10px;
  display: inline-block;
  font-weight: 600;
}

/*========================== Sub-menu ========================*/
.sub-service {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: var(--shadow-color);
  display: none;
  z-index: 101;
}

.sub-service ul {
  width: 150px;
  flex-direction: column;
  gap: 10px;
}

.show-services {
  display: block;
}

/* ==============================Nested sub-menu ======================*/
.lead,
.seo {
  position: relative;
}

.sub-service-page,
.sub-service-page2 {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  background-color: white;
  padding: 10px;
  box-shadow: var(--shadow-color);
}

.lead:hover .sub-service-page,
.seo:hover .sub-service-page2 {
  display: block;
}
.menu-bar {
  display: grid;
  gap: 3px;
  position: relative;
  display: none;
}
.bar {
  background-color: var(--secondary-main-color);
  width: 25px;
  height: 3px;
  border-radius: 5px;
}
nav ul.resmenu {
  display: none;
  position: fixed;
  top: -40%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  background-color: var(--light-color);
  box-shadow: var(--shadow-color);
  z-index: 99;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: top 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.sub-service-page,
.sub-service-page2 {
  width: 150px;
}
.resmenu .services {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resmenu .services ul {
  width: 100%;
  display: none;
}
/* ===================================HERO Section ============================= */
.hero {
  padding: 50px 0px 0px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background: var(--bg-gradent-color);
}
.hero-text span {
  color: var(--light-color);
}
.hero-img img {
  width: 650px;
  height: 650px;
}
/*===================== Extra Small Devices ======================= */
@media screen and (max-width: 480px) {
  header {
    padding: 10px 30px;
    position: relative;
  }
  .logo img {
    width: 60px;
  }
  nav ul {
    display: none;
  }
  .menu-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: var(--transition-effect);
  }
  .show-menu .bar {
    position: absolute;
  }
  .show-menu .bar1 {
    transition: var(--transition-effect);
    transform: rotate(45deg) translate(-15px, 12px);
  }
  .show-menu .bar3 {
    transition: var(--transition-effect);
    transform: rotate(-45deg) translate(-12px, -15px);
  }
  .show-menu .bar2 {
    transition: var(--transition-effect);
    display: none;
  }
  nav ul.resmenu {
    display: flex;
    top: -20%;
    transition: top 0.5s ease-in-out;
  }
  .resmenu .services {
    display: flex;
  }

  .resmenu .services ul {
    display: block;
  }
  .resmenu .sub-service {
    flex-direction: column;
    gap: 10px;
    top: 100%;
    left: -150%;
    background-color: var(--light-color);
    box-shadow: var(--shadow-color);
    width: 200px;
    padding: 10px;
    transition: top 0.3s ease-in-out;
  }
}

/* ============================Small Devices =============================== */
@media screen and (max-width: 767px) {
  header {
    padding: 10px 30px;
    position: relative;
  }
  nav ul {
    display: none;
  }
  .logo img {
    width: 100px;
  }
  .menu-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: var(--transition-effect);
  }
  .show-menu .bar {
    position: absolute;
  }
  .show-menu .bar1 {
    transition: var(--transition-effect);
    transform: rotate(45deg) translate(-15px, 12px);
  }
  .show-menu .bar3 {
    transition: var(--transition-effect);
    transform: rotate(-45deg) translate(-12px, -15px);
  }
  .show-menu .bar2 {
    transition: var(--transition-effect);
    display: none;
  }
  nav ul.resmenu {
    display: flex;
    top: -20%;
    transition: top 0.5s ease-in-out;
  }
  .resmenu .services {
    display: flex;
  }

  .resmenu .services ul {
    display: block;
  }
  .resmenu .sub-service {
    flex-direction: column;
    gap: 10px;
    top: 100%;
    left: -150%;
    background-color: var(--light-color);
    box-shadow: var(--shadow-color);
    width: 200px;
    padding: 10px;
    transition: top 0.3s ease-in-out;
  }
}

/*========================================Medium Devices====================================== */
@media screen and (max-width: 1024px) {
  header {
    padding: 20px 60px;
  }
  nav ul {
    display: none;
  }
  .menu-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: var(--transition-effect);
  }
  .show-menu .bar {
    position: absolute;
  }
  .show-menu .bar1 {
    transition: var(--transition-effect);
    transform: rotate(45deg) translate(-15px, 12px);
  }
  .show-menu .bar3 {
    transition: var(--transition-effect);
    transform: rotate(-45deg) translate(-12px, -15px);
  }
  .show-menu .bar2 {
    transition: var(--transition-effect);
    display: none;
  }
  nav ul.resmenu {
    display: flex;
    top: -20%;
    transition: top 0.5s ease-in-out;
  }
  .resmenu .services {
    display: flex;
  }

  .resmenu .services ul {
    display: block;
  }
  .resmenu .sub-service {
    flex-direction: column;
    gap: 10px;
    top: 100%;
    left: -150%;
    background-color: var(--light-color);
    box-shadow: var(--shadow-color);
    width: 200px;
    padding: 10px;
    transition: top 0.3s ease-in-out;
  }
}

/* ===================================Large Devices=============================== */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  header {
    padding: 20px 60px;
  }
}

/*=================================== Extra Large Devices ===============================*/
@media screen and (min-width: 1201px) {
}
